[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
additional_url = "https://download.pytorch.org/whl/cpu"

[packages]
numpy = "==1.26.4"
pandas = "*"
pillow = "*"
transformers = "==4.39.3"
torch = "==2.2.1"
torchvision = "==0.17.1"
torchaudio = "==2.2.1"
matplotlib = "*"
python-dotenv = "*"
qdrant-client = "==1.8.2"
streamlit = "*"
fashion-clip = "*"
clip = {git = "git+https://github.com/openai/CLIP.git"}
ftfy = "*"
regex = "*"
tqdm = "*"
dash = "*"
dash-html-components = "*"
dash-core-components = "*"
flask = "*"
fastapi = {extras = ["all"], version = "*"}
google-cloud-storage = "*"
python-magic = "*"

[dev-packages]
